:root {
    --white: #ffffff;
    --yellow:#FEC045;
    --green:#00C5AB;
    --red:#FF7170;
    --grey:#65656E;
}  

body {
    margin: 0;
    font-family: 'Segoe UI';
}

.navbar {
    color: var(--grey);
    font-size: 1.2em;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
}  

.navbar ul li {
    display: inline;
    padding-left: 8em;
    margin-top: 1em;
}

.navbar ul li img {
    height: 6em;
    width: 6em;
    align-items: center;
    margin-left: -12em;
}

#logout-btn {
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .7em;
    padding-bottom: .7em;
    color: var(--white);
    background-color: var(--grey);
    border: 0px;
    font-weight: bold;
    margin-right: 1em;
}

#changepsw-btn {
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    color: #707070;
    border: .1em solid #707070;
    background-color: var(--white);
    font-size: .6em;
    margin-left: 2em;
}

.grade {
    margin-top: 9em;
    border: 0px;
    color: var(--grey);
    font-weight: 400;
    font-size: 1em;
}

.grade-label {
    margin-top: 5em;
}

.grade-dropdown {
    width: 7em;
    align-self: center;
}

.big-text {
    font-size: 1.3em;
}

.small-text {
    font-size: 1em;
}

.list {
    display: grid;
    gap: .1rem;
    max-width: 2em auto;
}

@media  screen and (min-width: 768px) {
    .list {
        grid-template-columns: repeat(3, 2fr);
    }
}

.horizontal-rule {
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 12em;
    margin-right: 12em;
}

.green-btn {
    color: var(--white);
    background-color: var(--green);
}



