:root {
    --white: #ffffff;
    --yellow:#FEC045;
    --green:#00C5AB;
    --red:#FF7170;
    --grey:#65656E;
}  

body {
    margin: 0;
    font-family: 'Segoe UI';
} 

.navbar {
    color: var(--grey);
    font-size: 1.2em;
    font-weight: bold;
}

.navbar ul li {
    display: inline;
    padding-left: 50em;
    margin-top: .5em;
}

.navbar ul li img {
    height: 6em;
    width: 6em;
    margin-top: 1em;
    align-items: center;
    margin-left: -49em;
}

#logout-btn {
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .7em;
    padding-bottom: .7em;
    color: var(--white);
    background-color: var(--grey);
    border: 0px;
    font-weight: bold;
    margin-right: 1em;
    margin-left: 15em;
    font-size: .7em;
}

.main-heading {
    font-weight: bold;
    color: var(--grey);
    font-size: 1.3em;
    margin-bottom: 2em;
}

.table-header {
    list-style: none;
    font-weight: bold;
    color: var(--grey);
    font-size: 1em;
}

.home-body {
    margin-left: 12em;
    margin-right: 12em;
}

.home-body .btn {
    color: white;
    border: 1px solid white;
    border-radius: 15em;
    font-size: .8em;
    font-weight: bold;
}

.home-body table {
    color: var(--grey);
    margin-left: 2em;
}

.home-body table th{
    font-weight: bold;
}

table {
    width: fit-content;
}

th {
    padding: 3em;
}

td {
    border: 1px solid var(--grey);
    padding-left: 3em;
    padding-bottom: 1em;
}




